/*

*/

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
a.button {
    cursor: pointer;
    color: #ffffff;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: #3F3F3F;
    border: 1px solid #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

a.button {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
}

a.button:hover {
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Navigation - Menu---------------------------- */
/* ---------------------------------------------------------------------------- */

nav {
    float: right;
    position: relative;
    right: 5px;
    top: -45px;
}

.toggleMenu {
    display: none;
    background: #666;
    padding: 10px 15px;
    color: #C2C1C1;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 0px;
}

.menu {
    float: right;
    position: relative;
    top: 100px;
}

.menu:before, .menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu ul {
    list-style: none;
    width: 9em;
}

.menu a {
    padding: 10px 20px;
    color: #C2C1C1;
    font-size: 16px;
}

.menu li {
    position: relative;
}

.menu > li {
    float: left;
}

.menu .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.menu > li > a {
    display: block;
}

.menu li ul {
    position: absolute;
    left: -9999px;
}

.menu > li.hover > ul {
    left: 0;
}

.menu li li.hover ul {
    left: 100%;
    top: 0;
}

.menu li li a {
    display: block;
    background: #111111;
    position: relative;
    z-index: 100;
    border-top: 1px solid #000000;
}

.menu li li li a {
    background: #111111;
    z-index: 200;
    border-top: 1px solid #000000;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Pagination----------------------------- */
/* ---------------------------------------------------------------------------- */
#pagination {
    margin: 30px auto;
    padding: 0;
    list-style: none;
    width: 180px;
}

#pagination li {
    float: left;
    margin-right: 10px;
}

#pagination li a {
    display: block;
    text-decoration: none;
    color: #717171;
    font: bold 11px Arial, sans-serif;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #4D4D4D;
}

#pagination li a.current, #pagination li a:hover {
    color: #ffffff;
    opacity: 0.7;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Article-------------------------------- */
/* ---------------------------------------------------------------------------- */
article {
    margin-bottom: 30px;
}

article:after, article:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

article h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

article .line {
    background: #4D4D4D;
    height: 5px;
    width: 100px;
    margin: 10px auto;
}

article .info {
    font-style: italic;
}

.page-home article {
    background: #ffffff;
}

.page-home article .art-category {
    background: #111111;
    padding: 5px 30px;
    display: inline-block;
    color: #ffffff;
    margin-top: 10px;
}

.page-home article .art-content {
    padding: 20px 60px;
    text-align: center;
}

.page-home article p {
    margin: 20px 0px;
}

.page-home article img {
    height: 350px;
}

.page-home article a.more {
    text-transform: uppercase;
    padding-top: 30px;
    color: #4D4D4D;
    font-weight: bold;
}

.page-home article a.more:hover {
    text-decoration: underline;
}

.page-single article .art-header {
    text-align: center;
    margin-bottom: 50px;
}

.page-single article .art-content {
}

.page-single article img {
    display: inline-block;
    margin-bottom: 50px;
}

.page-single article p {
    margin-bottom: 10px;
}

.page-single article .info {
    font-style: italic;
}

.page-single article .tag {
    margin-top: 50px;
    padding-top: 20px;
    font-weight: bold;
}

.page-single article .tag span {
    float: left;
    padding-right: 10px;
}

.page-single article .tag ul {
    list-style: none;
    float: left;
}

.page-single article .tag li {
    float: left;
}

.page-single article .tag a {
    background: #111111;
    padding: 10px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Widget--------------------------------- */
/* ---------------------------------------------------------------------------- */
.widget {
    margin-bottom: 40px;
    text-align: center;
}

.widtget:after, .widget:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.widget .wid-header {
    margin-bottom: 20px;
}

.widget .wid-header h4 {
    font-size: 16px;
    border-bottom: 1px solid #4D4D4D;
    display: inline-block;
    padding: 0 15px 5px 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.widget .wid-content {
    padding: 5px;
}

#sidebar .widget.wid-posts {
}

#sidebar .widget.wid-posts .post {
    margin-bottom: 20px;
}

#sidebar .widget.wid-posts .post:after, .widget.wid-posts .post:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

#sidebar .widget.wid-posts h6 {
    font-size: 14px;
    font-weight: normal;
}

#sidebar .widget.wid-posts img {
    display: inline-block;
    max-width: 150px;
}

#sidebar .widget.wid-posts p {
    color: #A3A3A3;
    font-style: italic;
}

#sidebar .widget.wid-menu {
}

#sidebar .widget.wid-menu ul {
    font-size: 14px;
    list-style-type: none;
    margin-left: 20px;
}

#sidebar .widget.wid-menu ul li {
    padding: 5px;
}

#sidebar .widget.wid-label {
}

#sidebar .widget.wid-label a {
    margin-right: 5px;
}

#sidebar .widget.wid-label a:hover {
    text-decoration: underline;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */

#contact_form {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #F9F9F9;
    padding: 25px;
}

#ff label {
    cursor: pointer;
    margin: 4px 0;
    display: block;
    font-weight: 800;
}

input {
    display: block;
    width: 90%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #f4f4f4;
    color: #000;
    border: 1px solid #5f5f5f;
    padding: 10px;
    margin-bottom: 25px;
}
#ff input[type="button"]{
    display: inline;
    width: 65%;
    margin-right: 10%;
    color: white;
    background-color: black;
}
#ff input[type="radio"]{
    display: inline;
    width: 5%;
    margin-left: 2%;
}

textarea {
    display: block;
    width: 90%;
    height: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #f4f4f4;
    color: #000;
    border: 1px solid #5f5f5f;
    padding: 10px;
    margin-bottom: 25px;
}

.sendButton {
    cursor: pointer;
    background-color: #222222;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #ffffff;
    width: 25%;
    font-weight: bold;
}

.sendButton:hover {
    opacity: 0.8;
}
datalist{
    display: none;
}
select{
    width: 25%;
    height: 38px;
    border-radius: 5px;
    border-color: #5f5f5f;
    background-color: #f4f4f4;
    margin-bottom: 15px;
    margin-right: 5%;
    overflow: auto;
}

/*返回顶端按钮*/
#backTop{
    width: 35px;
    height: 100px;
    border-radius: 5px;
    color: white;
    background-color: black;
    position: fixed;
    right: 1%;
    top: 80%;
}